@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Press Start 2P', sans-serif;
  padding-top: 20px; /* Brings down the entire content a bit */
}

#banner {
  background-color: #1a001a; /* Darker purple */
  margin-top: 20px; /* Additional space from the top of the page */
}

/* Gaming-style border */
.gaming-border {
  position: relative;
  display: inline-block;
  border: 2px solid #ff9900; /* Outer border color */
  padding: 8px;
  border-radius: 8px;
  background-color: #222; /* Background behind the logo */
}

#text-display {
  font-size: 1rem;
  max-width: 90%;
  line-height: 1.2;
  padding: 10px;
}
